# Object files
*.o
*.ko
*.obj
#*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
#*.hex

# Debug files
*.dSYM/

# eclipse device packs, is one lvl up the workspace
/Packages/

# eagle
# EAGLE Autosave Files
*.b#?
*.s#?
*.l#?


# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs
*.dri
*.drl
*.gpi
*.pls
*.drd
*.drd.*
*.info
*.eps


# libreoffice
*.csv#
