<div class="page-header">
	<h1>Create a new plant</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<form novalidate="novalidate" class="form-horizontal">
	        <div class="control-group">
	            <label class="control-label" for="inputName">Name:</label>
	            <div class="controls">
	                <input type="text" id="inputName" ng-model="plant.name"/>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="inputDescription">Description:</label>
	            <div class="controls">
	                <input type="text" id="inputDescription" ng-model="plant.description"/>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="inputWateringInterval">Watering Interval:</label>
	            <div class="controls">
	                <input type="text" id="inputWateringInterval" ng-model="plant.watering_interval"/>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="inputSensor">Sensor:</label>
	            <div class="controls">
	            	<select id="inputSensor" ng-model="plant.sensor_id">
	            		<option value="">please select a sensor</option>
				        <option ng-repeat="sensor in sensors.objects" ng-selected="(plant.sensor_id === ($index + 1))" value="{{$index + 1}}">sensor: channel {{sensor.channel}} - frequency {{sensor.frequency}}</option>
				    </select>
	            </div>
	        </div>
	        <div class="control-group">
	            <label class="control-label" for="inputMotor">Motor:</label>
	            <div class="controls">
	            	<select id="inputMotor" ng-model="plant.motor_id">
	            		<option value="">please select a motor</option>
				        <option ng-repeat="motor in motors.objects" ng-selected="(plant.motor_id === ($index + 1))" value="{{$index + 1}}">motor: channel {{motor.channel}} - duration {{motor.duration}}</option>
				    </select>
	            </div>
	        </div>
	        <div class="control-group">
	            <div class="controls">
	            	<a ng-click="cancel()" class="btn btn-small btn-primary">cancel</a>
	                <a ng-click="createNewPlant()" class="btn btn-small btn-primary">create new plant</a>
	            </div>
	        </div>
	    </form>
	</div>
</div>