<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
</listAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/bin/openocd"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-s /usr/share/openocd/scripts&#10;-f interface/stlink-v2.cfg&#10;-f target/stm32f1x.cfg&#10;-c &quot;transport select hla_swd&quot;&#10;-c &quot;reset_config none separate&quot;&#10;-c &quot;init&quot;&#10;-c &quot;reset halt&quot;&#10;-c &quot;sleep 100&quot;&#10;-c &quot;wait_halt 2&quot;&#10;-c &quot;flash write_image erase ${project_name}.bin 0x08000000&quot;&#10;-c &quot;sleep 100&quot;&#10;-c &quot;reset run&quot;&#10;-c shutdown"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc}/${config_name:${project_name}}"/>
</launchConfiguration>
