appdirs==1.4.0
Flask==0.10.1
Flask-Restless==0.13.1
Flask-SQLAlchemy==0.16
gunicorn==17.5
itsdangerous==0.22
Jinja2==2.7
MarkupSafe==0.18
mimerender==0.5.4
packaging==16.8
psycopg2==2.6.1
pyparsing==2.1.10
python-dateutil==2.1
python-mimeparse==0.1.4
requests==1.2.3
six==1.10.0
spidev==3.2
SQLAlchemy==0.8.2
transitions==0.4.3
Werkzeug==0.9.2
