appdirs==1.4.0
click==6.7
Flask==0.12
Flask-Restless==0.17.0
Flask-SQLAlchemy==2.1
gunicorn==19.6.0
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
mimerender==0.6.0
packaging==16.8
psycopg2==2.6.2
pyparsing==2.1.10
python-dateutil==2.6.0
python-mimeparse==1.6.0
requests==2.13.0
six==1.10.0
spidev==3.2
SQLAlchemy==1.1.5
transitions==0.4.3
Werkzeug==0.11.15
